/* app.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Évite tout scroll */
}
.container {
  width: 100vw;
  height: 100vh; 
  z-index: 5;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.fullscreen-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bt-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: end;
  align-items: center;
}

.bt {
  display: flex;
  flex-direction: column; /* Aligner verticalement */
  justify-content: center;
  align-items: center;
  width: 3%;
  height: 25%;
  gap: 10px;
  z-index: 99;
}

.hide {
  width: 80%;
  aspect-ratio: 1 / 1; 
  background: none;          /* Enlève la couleur rose si tu veux que seule l’image apparaisse */
  border: none;
  padding: 0;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  border: 1px solid antiquewhite;
}

.hide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textbox {
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 2%;
  transform-origin: center;
  opacity: 1;
  padding: 1%;
  color: white;
  font-family: 'Land', sans-serif;
  font-size: clamp(0.5rem, 3vw, 2.5rem); /* min 1rem, max 2.5rem, mais responsive selon la largeur de la fenêtre */
  justify-content: space-around;
  background-size: contain;
  background-position: center;
  transform-origin: center center;
  /*border: 2px solid rgb(255, 255, 255);*/
}

.textbox2 {
  width: 40%;
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 60%;
  transform-origin: center;
  opacity: 1;
  padding: 1%;
  color: white;
  font-family: 'Land', sans-serif;
  font-size: clamp(0.5rem, 3vw, 2.5rem); /* min 1rem, max 2.5rem, mais responsive selon la largeur de la fenêtre */
  justify-content: space-around;
  background-size: contain;
  background-position: center;
  transform-origin: center center;
  /*border: 2px solid rgb(255, 255, 255);*/
}

@font-face {
font-family: 'Land';
src: url('assets/fonts/Land.otf') format('truetype');
font-weight: normal;
font-style: normal;
}

